:root {
    --text: #EFE;
    --fun: #FFD700;
    --button-text: #002766;
    --accent: #444;
    --background: #222;
}
header {
    display: grid;
    width:100vw;
    grid-template-columns: 1fr 1fr;
    background-color: var(--accent);
}
nav {
    display: flex;
    justify-content: center;
    align-items: center;
}
nav a {
    color: var(--text);
    padding: 10px;
    text-decoration: none;
    width: 100%;
}
body {
    background-color: var(--background);
    color: var(--text);
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    justify-content: center;
}
h1, h2 {
    font-family: 'Impact', Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
main section{
    background-color: var(--accent);
    border:1px solid #EFE;
    border-radius: 50px;
    box-shadow: 5px 5px 8px var(--text);
    justify-items: center;
    padding: 5px;
    margin: 20px;
}
figure {
    padding: 20px;
}
figure img {
    max-width: 75vw;
}
#engagment label {
    border: #EFE 1px solid;
    padding: 10px;
}
button, .fun-elements {
    font-family: 'Comic Sans MS', cursive, sans-serif;
}
button {
    background-color: var(--fun);
    color: var(--button-text);
}
footer {
    text-align: center;
    color: var(--text);
}