:root {
    --text: #EFE;
    --fun: #FFD700;
    --button-text: #002766;
    --accent: #444;
    --background: #222;
}
body {
    font-family: 'Arial', sans-serif;
}
h1, h2 {
    font-family: 'Oswald', sans-serif;
}
button, .fun-elements {
    font-family: 'Comic Neue', cursive, sans-serif;
}

header {
    display: grid;
    width:100vw;
    grid-template-columns: 1fr 1fr;
    background-color: var(--accent);
}
nav {
    display: flex;
    justify-content: center;
    align-items: center;
}
p {
    text-indent: 20px;;
}
nav a {
    color: var(--text);
    padding: 10px;
    text-decoration: none;
    width: 50%;
}
nav a:hover {
    color: var(--fun);
    border:  var(--text) 1px solid;
    border-radius: 50px;
    text-shadow:  5px 5px 8px var(--text);
}
body {
    background-color: var(--background);
    color: var(--text);
    display: grid;
    justify-content: center;
}
main section{
    background-color: var(--accent);
    border:1px solid #EFE;
    border-radius: 50px;
    box-shadow: 5px 5px 8px var(--text);
    justify-items: center;
    padding: 5px;
    margin: 20px;
}
figure {
    padding: 20px;
}
figure img {
    max-width: 75vw;
}
#engagment label {
    border: #EFE 1px solid;
    padding: 10px;
}
button {
    background-color: var(--fun);
    color: var(--button-text);
}
footer {
    text-align: center;
    color: var(--text);
}