body {
    display: grid;
    grid-template-columns: 1fr;
    
}
header {
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#hamburger {
    display: none;
    width: 40px;
    height: 40px;
}
#nav-links {
    width: 100%;
    justify-self: right;
    display: flex;
    justify-content: space-evenly;
}
#nav-links a {
    font-size: 1.2rem;
}
#close-nav {
    display: block;
}
main {
    max-width: 1800px;
    display: grid;
    grid-template-rows: 40px 1fr;
    text-align: center;
    justify-self: center;
}
.album-box {
    max-width: 1800px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    padding-bottom: 20px;
}
.temple-card{
    background-color: var(--background-color);
}
.temple-card {
    border: 2px solid var(--main-color); 
    border-radius: 8px;
    box-shadow: 0 4px 8px var(--main-color);
    padding: 10px; 
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.temple-card:hover {
    box-shadow: 0 8px 18px var(--main-color); 
    transform: translateY(-5px);
}
.temple-card p, figcaption{
    color: black;
}
img, figure {
    width: 25vw;
    max-width: 525px;
}