nav button {
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
}
body {
    max-width: 1600px;
    height: auto;
}
main {
    display: block;
    max-width: 1600px;
    font-size: 140%;
}
main ul{
    list-style-type: none;
}
#main-image{
    display: flex;
    margin: 0;
    padding: 0;
    max-width: 1600px;
}
#main-image img {
    max-width: 1200px;
    width: 100%;
    height: auto;
}
main section{
    position: relative;
    place-items: center;
}
#condition {
    align-content: center;
    width: 50%;
}
#default-emoticon {
    display: none;
}
#condition.mostly::after {
    content: url('../images/icons/partly-cloudy.svg');
}
#condition.sunny::after {
    content: url('../images/icons/sunny.svg');
}
#condition.rainy::after {
    content: url('../images/icons/rainy.svg');
}
#condition.snowy::after {
    content: url('../images/icons/snowy.svg');
}
#condition.cloudy::after {
    content: url('../images/icons/overcast.svg');
}
@media screen and (max-width: 1024px) {
    #main-image img{
        max-width: 1024px;
    }
}
@media screen and (max-width: 768px){
    #main-image img{
        max-width: 768px;
    }
}