main {
    position: relative;
}
main section{
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    border-radius: 5px;
    width: 30%;
}
#main-image img{
    max-width: 1600px;
}
#weather-box {
    top: 10%;
    left: 5%;
}
#data-box {
    top: 35%;
    right: 5%;
}